{% extends 'layout.htm' %}
{% block body %}
    <h3>About</h3>
    <hr>
    <h5>
        Project Helios mission is to get people informed about the spacecraft that are sent to the Sun in order to observe it. We have presented this in a clear and readable way by preparing separate articles for each spacecraft with the information we gathered from precise and reliable websites(like Nasa’s websites). The grounding of the website we created is ''python'' and our website was written with Flask packet. Among those codes, Python, HTML, CSS, and JavaScript were used. Visual Studio Code editor was used and it was tried in the localhost arena.
    </h5>
{% endblock body %}