{% extends 'layout.htm' %}

{% block body %}
<img style="height: 512px;" src="https://www.nhm.ac.uk/content/dam/nhmwww/discover/osiris-rex-asteroid-sample-collect/osiris-rex-asteroid-sample-collect-ful-width.jpg.thumb.1160.1160.jpg">
<br>
<br>

    <h3>OSIRIS-REx</h3>
    <hr>
    <h5>
        OSIRIS-REx seeks answers to the questions that are central to the human experience: Where did we come from? What is our destiny? Asteroids, the leftover debris from the solar system formation process, can answer these questions and teach us about the history of the sun and planets.

The OSIRIS-REx spacecraft is traveling to Bennu, a carbonaceous asteroid whose regolith may record the earliest history of our solar system. Bennu may contain the molecular precursors to the origin of life and the Earth’s oceans. Bennu is also one of the most potentially hazardous asteroids, as it has a relatively high probability of impacting the Earth late in the 22nd century. OSIRIS-REx will determine Bennu’s physical and chemical properties, which will be critical to know in the event of an impact mitigation mission. Finally, asteroids like Bennu contain natural resources such as water, organics, and precious metals. In the future, these asteroids may one day fuel the exploration of the solar system by robotic and crewed spacecraft.

    </h5>
    <br>
    <br>
    <h4>Referance</h4>
    <hr>
    <h5>
    <a href="https://www.nasa.gov/mission_pages/osiris-rex/about">OSIRIS-REx Mission Page</a>
    </h5>
    <br>
    <br>

{% endblock body %}