{% extends 'layout.htm' %}

{% block body %}
<img style="height: 512px;" src="https://www.webtekno.com/images/editor/default/0002/17/d11dc9a7c3959117039a8059731b9b230db5c877.jpeg">
<br><br>
    <h3>Parker Solar Probe</h3>
    <hr>
    <h5>
        NASA's historic Parker Solar Probe mission is revolutionizing our understanding of the Sun, where changing conditions can propagate out into the solar system, affecting Earth and other worlds. Parker Solar Probe travels through the Sun’s atmosphere, closer to the surface than any spacecraft before it, facing brutal heat and radiation conditions to provide humanity with the closest-ever observations of a star. In order to unlock the mysteries of the Sun's atmosphere, Parker Solar Probe uses Venus’ gravity during seven flybys over nearly seven years to gradually bring its orbit closer to the Sun. The spacecraft will fly through the Sun’s atmosphere as close as 3.8 million miles to our star’s surface, well within the orbit of Mercury and more than seven times closer than any spacecraft has come before. (Earth’s average distance to the Sun is 93 million miles.)
Flying into the outermost part of the Sun's atmosphere, known as the corona, for the first time, Parker Solar Probe employs a combination of in situ measurements and imaging to revolutionize our understanding of the corona and expand our knowledge of the origin and evolution of the solar wind. It also makes critical contributions to our ability to forecast changes in Earth's space environment that affect life and technology on Earth.

    </h5>
    <br>
    <br>
    <h4>Referance</h4>
    <hr>
    <h5>
        <a href="https://www.nasa.gov/content/goddard/parker-solar-probe-humanity-s-first-visit-to-a-star">Parker Solar Probe Mission Page</a>
    </h5>
    <br><br>
{% endblock body %}