{% extends 'layout.htm' %}
{% block body %}
    <img style="height: 512px;" src="https://cdn.mos.cms.futurecdn.net/bDMmLP3Cbn3zNRF49bqHNP.jpg">
    <br>
    <br>
    <h3>Stereo-A</h3>
    <hr>
    <h5>
        Launched in October 2006, the Solar Terrestrial Relations Observatory, or STEREO, has provided scientists a unique and revolutionary view of the Sun-Earth System. Composed of two nearly identical observatories -- one ahead of Earth in its orbit, the other trailing behind --  STEREO has traced the flow of energy and matter from the Sun to Earth. 
 
Solar ejections, like coronal mass ejections (CMEs), are the most powerful drivers of the Sun-Earth connection. Yet despite their importance, scientists don't fully understand the origin and evolution of CMEs, nor their structure or extent in interplanetary space. STEREO's unique 3D images of the structure of CMEs is enabling scientists to determine their fundamental nature and origin.
STEREO is also a key addition to the fleet of space weather detection satellites. It provides more accurate alerts for the arrival time of Earth-directed solar ejections with its unique side-viewing perspective.
 
On Oct. 1, 2014, NASA mission operations lost communication with one of the spacecraft, STEREO-B. Efforts to regain contact are ongoing. STEREO-A continues to operate normally and provide views of parts of the far side of the Sun otherwise unseeable from Earth’s perspective. 

    </h5>
    <br>
    <br>
    <h4>
        Referance
    </h4>
    <hr>
    <h5>
        <a href="https://www.nasa.gov/mission_pages/stereo/main/index.html">NASA STEREO Mission Page</a>
    </h5>
    <br>
    <br>
    
{% endblock body %}